h1 {
  background-color: #00796b;
  color: #fff;
  font-weight: lighter;
  padding: 20px;
  margin: 0px;
}
nav {
    background-color: #00796b;
    box-shadow: none;
}
nav a,
nav a:visited {
  color: #fff;
  box-shadow: none;
  border-bottom: 2px solid transparent;
}
nav a:hover,
nav a:active {
  text-decoration: none;
}
nav a.active {
  border-bottom: 2px solid #fff;
}